/** ALFA BASE **/

* {
    overflow-anchor: none;
}

textarea:hover,
input:not([type="checkbox"]):hover,
textarea:active,
input:not([type="checkbox"]):active,
textarea:focus,
input:not([type="checkbox"]):focus,
button:focus,
button:active,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.dropdown-toggle:focus {
    border: none !important;
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    max-width: 1440px;
}

.text,
p {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #495966;
}

.text b,
.text strong {
    color: #E72D2B;
}

.text a,
.text-block a,
.text-muted a {
    color: #E72D2B;
    font-weight: bold;
}

.text-red {
    color: #E72D2B;
    margin-top: 0;
}

.text-block {
    background: #FFFFFF;
    border: 1px solid rgb(232, 232, 232);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2.4vw;
    color: #495966;
}

.mt-100 {
    margin-top: 100px;
}

.alfa-btn-red {
    background: #E72D2B;
    box-shadow: 0px 10px 15px -5px #E72D2B;
    border-radius: 3px;
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 1.1vw;
    padding: 12px 26px;
}

.alfa-btn-red:hover,
.alfa-btn-red:focus {
    background: #C31718;
    color: #fff;
    box-shadow: 0px 10px 15px -5px #E72D2B !important;
}

.alfa-btn-red.animated {
    animation: 1.75s btn-animate infinite;
}

@-webkit-keyframes btn-animate {

    0%,
    100% {
        background: #E72D2B;
    }

    50% {
        background: #C31718;
    }
}

@keyframes btn-animate {

    0%,
    100% {
        background: #E72D2B;
    }

    50% {
        background: #C31718;
    }
}

.alfa-btn-gray {
    background: #728089;
    box-shadow: 0px 10px 15px -5px #728089;
    border-radius: 3px;
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 1.1vw;
    padding: 12px 26px;
}

.alfa-btn-gray:hover,
.alfa-btn-gray:focus {
    background: #616d75;
    color: #fff;
    box-shadow: 0px 10px 15px -5px #616d75 !important;
}

.alfa-btn-flat {
    background: #BBC9D4;
    box-shadow: 0px 10px 15px -5px #BBC9D4;
    border-radius: 3px;
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 1.1vw;
    padding: 12px 26px;
}

.alfa-btn-flat:hover,
.alfa-btn-flat:focus {
    background: #616d75;
    color: #fff;
    box-shadow: 0px 10px 15px -5px #616d75 !important;
}

.title-block {
    font-weight: 900;
    font-size: 2.5vw;
    line-height: 3vw;
    text-align: center;
    text-transform: uppercase;
    color: #E72D2B;
}

.description-block {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: center;
    color: #495966;
    margin-top: 10px;
}

.accordion-with-icon .card {
    border-radius: 10px;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) !important;
}

.accordion-with-icon .card:not(:first-child) {
    margin-top: 30px;
}

.accordion-with-icon .card .card-header {
    border-radius: 10px;
    border: none;
    background: #fff;
}

.accordion-with-icon .card .card-header button {
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 1vw;
    color: #495966;
    margin-right: 60px;
    text-align: left;
}

.accordion-with-icon .card .card-header button:hover {
    color: #E72D2B;
    text-decoration: none;
}

.accordion-with-icon .card .card-header button:focus {
    text-decoration: none;
}

.accordion-with-icon .card .card-header .btn-link {
    padding-left: 0;
}

.accordion-with-icon .card .card-header .btn-link[aria-expanded="true"] {
    color: #E72D2B;
}

.accordion-with-icon .card .card-header .btn-link[aria-expanded="true"]::after {
    position: absolute;
    right: 5px;
    top: 0;
    content: url('../images/minus.svg');
    width: 30px;
    height: 30px;
}

.accordion-with-icon .card .card-header .btn-link[aria-expanded="false"]::after {
    position: absolute;
    right: 5px;
    top: 0;
    content: url('../images/plus.svg');
    width: 30px;
    height: 30px;
}

.accordion-with-icon .card .card-body {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #495966;
}

.accordion-with-icon .card .card-body p a,
.accordion-with-icon .card .card-body a {
    color: #E72D2B;
    font-weight: bold;
}

.alfa-divider {
    border-bottom: 1px dashed #D9D9D9;
    margin: 25px 0 25px -48px;
    width: calc(100% + 96px);
}

.datepicker-days .table-condensed,
.datepicker-months .table-condensed,
.datepicker-years .table-condensed,
.datepicker-centuries .table-condensed,
.datepicker-decades .table-condensed {
    width: 100% !important;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
    background-color: #E72D2B !important;
    border-color: #E72D2B !important;
}

.date-picker svg {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;
    z-index: 5;
    fill: #728089;
}

.date-picker svg:hover {
    cursor: pointer;
    fill: #E72D2B;
}

.date-picker input {
    border-radius: 4px !important;
}


/** ALFA BASE **/
.collapse:not(.show) {
    display: none;
}

/** ALFA TOPBAR **/
@media (max-width: 1004px) {
    #alfa-topbar {
        background-color: #EFEFEF;
    }
}

#alfa-topbar .alfa-city-checker {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #495966;
}

#alfa-topbar .img-fluid, #alfa-topbar .city-text {
    margin-right: 6px;
}

#alfa-topbar .alfa-city-checker a {
    color: #E72D2B;
    font-weight: 500;
}

#alfa-topbar .alfa-city-checker a:hover {
    color: #DE1E1C;
    text-decoration: underline;
}

#alfa-topbar .alfa-social-networks {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495966;
    margin-right: -16px;
}

#alfa-topbar .alfa-social-networks span {
    margin-right: 11px;
}

#alfa-topbar .alfa-social-networks a {
    margin-right: 16px;
}

@media (max-width: 810px) {
    #alfa-topbar .alfa-social-networks {
        display: none;
    }
}


/** ALFA TOPBAR **/


/** ALFA HEADER **/

/*#alfa-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 45px;
    right: 0;
}*/
.mobile-decorative-line {
    display: none;
}
@media (max-width: 1004px) {
    .mobile-decorative-line {
        display: none;
    }
    #alfa-header {
        border-bottom: 1px solid #E4E1DD;
    }
}

.navbar-toggler {
    border: none !important;
}

.hiden-top-menu .nav-item .dropdown {
    order: 1
}

.hiden-top-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#alfa-header .navbar-light .navbar-toggler {
    background: #fff;
    padding: 0;
}

@media (max-width: 1004px) {
    .header-lang {
        display: none;
    }
}

.collapse-lang {
    display: none;
}

@media (max-width: 1004px) {
    .collapse-lang {
        display: block;
    }
}

#alfa-header .navbar {
    background: none !important;
    padding: 0;
    z-index: 10;
}

#alfa-header .navbar .navbar-brand {
    width: 203px;
}

@media (max-width: 810px) {
    #alfa-header .navbar .navbar-brand {
        width: 150px;
    }
}

@media (max-width: 460px) {
    #alfa-header .navbar .navbar-brand {
        width: 91px;
    }
}

#alfa-header .navbar .navbar-brand img {
    width: 100%;
}

#alfa-header .navbar-light .navbar-nav .nav-link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #1C2B39;
    padding: 38px 15px;
}

.alfa-social-networks .ml-3, .mx-3 {
    margin-left: 9px !important;
}
.alfa-social-networks .ml-2, .mx-2{
    margin-left: 13px !important;
}

.navbar-nav {
    width: 86%;
    min-width: max-content;
    flex-grow: 0;
    margin-left: auto;
    align-items: center;
}

@media (max-width: 1180px) {
    .navbar-nav {
        min-width: auto;
    }
}

.navbar-nav li {
    margin-left: auto;
}

.navbar-nav .header-lang {
    min-width: max-content;
    margin-left: 49px;
}

@media (max-width: 1230px) {
    .navbar-nav .header-lang {
        margin-left: 20px;
    }
}

#alfa-header .navbar-light .navbar-nav .nav-link:hover {
    color: #E72D2B;
}

#alfa-header .navbar-light .navbar-nav .locale-icon {
    margin-top: -3px;
}


/* #alfa-header .navbar .dropdown-toggle::after {
    display: none;
} */


/** ALFA HEADER **/


/** ALFA FEEDBACK INFO **/

#alfa-feedback-info {
    margin-top: 150px;
}

#alfa-feedback-info .block-center svg.animated #eyes {
    -webkit-animation: eyes-animate 3s linear infinite both;
    animation: eyes-animate 3s linear infinite both;
    animation-delay: 1s;
}

@-webkit-keyframes eyes-animate {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    25% {
        -webkit-transform: translateX(-1.25px);
        transform: translateX(-1.25px);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    75% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
}

@keyframes eyes-animate {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    25% {
        -webkit-transform: translateX(-1.25px);
        transform: translateX(-1.25px);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    75% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
}

#alfa-feedback-info .block-center svg #leg {
    -webkit-animation: leg-animate 4s linear infinite both;
    animation: leg-animate 4s linear infinite both;
}

@-webkit-keyframes leg-animate {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    25% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    75% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes leg-animate {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    25% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    75% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

#alfa-feedback-info .block-bottom {
    margin-top: -65px;
    margin-bottom: -2px;
}


/** ALFA FEEDBACK INFO **/


/** ALFA OTHER BLOCK **/

.alfa-other-block .block {
    background: #FFFFFF;
    border: 1px solid rgb(232, 232, 232);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
}

.alfa-other-block .block .left {
    width: 75px;
    text-align: center;
}

.alfa-other-block .block .right {
    width: calc(100% - 75px);
}

.alfa-other-block .block .title {
    font-style: normal;
    font-weight: 800;
    line-height: 1vw;
    font-size: 0.75vw;
    text-transform: uppercase;
    color: #1C2B39;
}

.alfa-other-block .block .title-big {
    font-style: normal;
    font-weight: 800;
    line-height: 2vw;
    font-size: 1vw;
    text-transform: uppercase;
    color: #1C2B39;
}

.alfa-other-block .block .text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 0.9vw;
    color: #707070;
}


/** ALFA OTHER BLOCK **/


/** ALFA FOOTER **/

#alfa-footer {
    background: #EFEFEF;
}

#alfa-footer .alfa-footer-logotypes {
    padding: 20px 0;
}

#alfa-footer .alfa-footer-logotypes .alfa-footer-logotype-item {
    max-width: 100px;
    width: 100%;
}


/** ALFA FOOTER **/


/** ALFA MODAL **/

.alfa-modal .modal-header {
    padding: 0;
    border: none;
    margin-top: 25px;
}

.alfa-modal .modal-title {
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 2.5vw;
    color: #495966;
}

.alfa-modal .modal-body {
    padding: 0;
    border: none;
}

.alfa-modal .modal-body .text {
    font-weight: 400;
}

.alfa-modal .modal-body .modal-content {
    border-radius: 10px;
}

.alfa-modal .modal-footer {
    padding: 0;
    border: none;
}

.alfa-modal .modal-footer>* {
    margin: 0;
}

.alfa-modal .close {
    margin-top: -3rem;
}

.alfa-modal .close img {
    width: 22px;
    height: 22px;
}

.alfa-modal .close:hover img {
    transform: rotate(90deg);
    transition: transform .25s ease-out;
}

.alfa-modal .city-list {
    padding: 0;
    margin: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.alfa-modal .city-list li {
    list-style-type: none;
}

.alfa-modal .city-list li a {
    font-size: 1.1vw;
    line-height: 2.5vw;
    color: #495966;
}

.alfa-modal .city-list li a:hover {
    color: #E72D2B;
}
.cities-modal .modal-content {
    padding: 18px 16px 34px;
}
@media screen and (max-width: 810px) {
    .cities-modal .modal-content {
        padding: 18px 16px 34px;
        position: absolute;
        top: 6% !important;
        width: 96%;
        left: 0;
        right: 0;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    .cities-modal .alfa-modal .modal-header{
        margin-top: 0;
    }
    .cities-modal .modal-body {
        margin-top: 14px !important;
    }
    .cities-modal .city-list li {
        margin-bottom: 13px;
    }
    .cities-modal .city-list li a {
        font-size: 12px;
    }
    .cities-modal .close {
        top: -31px;
    }
}
/** ALFA MODAL **/


/** ALFA FORM **/

.alfa-form label {
    font-weight: bold;
    font-size: 1vw;
    line-height: 1vw;
    text-align: left;
    color: #707070;
    margin-bottom: 15px;
}

.alfa-form input:not([type="checkbox"]) {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 3px 1px rgba(209, 222, 249, 0.5);
    border-radius: 5px;
    padding: 20px 15px;
}

.alfa-form .alfa-form-check label {
    margin: 0;
    font-weight: 400;
}

.alfa-form .alfa-form-check .custom-control-label::before {
    border-color: #E72D2B;
    box-shadow: 0px 2px 3px rgba(209, 222, 249, 0.5);
    background: #fff;
}

.alfa-form .alfa-form-check .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #C31718;
}

.alfa-form .alfa-form-check .custom-control-label::after {
    background-image: url('../images/check.svg');
    width: 24px;
    height: 24px;
    top: 0;
    left: -28px;
}


/** ALFA FORM **/


/** ALFA AUTOCOMPLETE **/

ul.ui-autocomplete {
    border-radius: 10px;
    margin-top: 5px;
    padding: 0px !important;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    max-height: 250px;
    overflow-y: auto;
    width: 30px;
    background-color: white;
}

ul.ui-autocomplete li {
    color: #707070;
    font-size: 15px;
    font-weight: 400 !important;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    list-style: none;
    min-height: 40px;
    height: auto;
    line-height: 25px !important;
    padding-top: 10px !important;
    outline: none;
    padding-left: 18px !important;
    padding-right: 29px !important;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

ul.ui-autocomplete li:hover {
    background-color: #E72D2B;
    color: white;
    padding-left: 18px !important;
}

ul.ui-autocomplete li>div {
    border: 0px !important;
}

ul.ui-autocomplete li::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    opacity: 0;
    left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
}

ul.ui-autocomplete span {
    color: #ccc;
}

ul.ui-autocomplete {
    z-index: 99;
    width: 400px;
}


/** ALFA AUTOCOMPLETE **/


/** DROPDOWN MENU **/

.dropdown-menu {
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.dropdown-menu .dropdown-header {
    color: #495966;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.dropdown-menu .dropdown-header:hover {
    cursor: pointer;
    color: #E72D2B;
}

.dropdown-menu .dropdown-header:active {
    background: none;
}

.header-drop-lang-head {
    /*
    padding: 10px !important;
    padding-right: 0 !important;
    margin-left: 30px;
    */
}
.header-drop-lang-head .dropdown-language {
    background: #F7F7F7;
    border-radius: 40px;
    padding: 12px 14px;
    cursor: pointer;
}

@media screen and (max-width: 810px) {
    .header-drop-lang-head .dropdown-language {
        background: #ffffff;
        border-radius: 0;
        margin-right: 0;
        padding: 0;
    }
}

.header-drop-lang-head .dropdown-language .lang-arrow {
    margin-left: 8px;
    transition: transform 300ms;
}

.header-drop-lang-head.show .dropdown-language .lang-arrow,
.header-drop-lang-head:hover .dropdown-language .lang-arrow {
    transform: rotate(180deg);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0 !important;
    min-width: 70px !important;
    border: none !important;
}
.header-drop-lang {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px !important;
    padding: 0px !important;
    border: 0 !important;
    position: absolute;
    transform: translatex(-66%);
    width: max-content;
    left: 14px !important;
}
@media screen and (max-width: 810px) {
    .header-drop-lang {
        left: 0 !important;
    }
}
.header-drop-lang .dropdown-item {
    padding: 10px 16px;
    display: flex;
    justify-content: start;
}
.header-drop-lang-head.collapse-lang .dropdown-toggle{
    background: transparent;
    border: none !important;
}
.header-drop-lang-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border-radius: 16px;
}
.header-drop-lang-icon img {
    width: 100%;
    height: auto;
}
/** DROPDOWN MENU **/


/** PRELOADER **/

body.preloader-site {
    overflow: hidden;
}

.preloader {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
}

.preloader .preloader-body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
}

.preloader .preloader-body img {
    width: 100%;
}
/** PRELOADER **/

/** MEDIA QUERIES **/

@media screen and (max-width: 740px) {

    .text,
    p {
        font-size: 4vw;
        line-height: 5.5vw;
    }

    .alfa-other-block .block .title {
        line-height: 4vw;
        font-size: 3.75vw;
    }

    .alfa-other-block .block .title-big {
        line-height: 5vw;
        font-size: 4.75vw;
    }

    .alfa-other-block .block .text {
        font-size: 4vw;
        line-height: 3.9vw;
    }

    .accordion-with-icon .card .card-header button {
        font-size: 4vw;
        line-height: 4.2vw;
    }

    .accordion-with-icon .card .card-body {
        font-size: 4vw;
        line-height: 4.2vw;
    }

    .title-block {
        font-size: 7vw;
        line-height: 9vw;
    }

    .description-block {
        font-size: 5vw;
        line-height: 7vw;
    }

    .text-block {
        font-size: 3.5vw;
        line-height: 6.4vw;
    }

    .alfa-btn-red,
    .alfa-btn-gray,
    .alfa-btn-flat {
        font-size: 3.5vw;
    }

    #alfa-feedback-info .block-bottom {
        overflow: hidden;
    }

    #alfa-feedback-info .block-bottom img {
        width: 200% !important;
    }

    #alfa-footer .alfa-footer-logotypes .alfa-footer-logotype-item {
        margin: 10px 0;
    }

    .alfa-modal .modal-footer .btn {
        width: 100%;
    }

    .alfa-modal .modal-title {
        font-size: 4.5vw;
        line-height: 4.5vw;
    }

    .alfa-form label {
        font-size: 4vw;
        line-height: 5vw;
    }

    .alfa-modal .city-list li a {
        font-size: 3.2vw;
        line-height: 3.5vw;
    }

    .dropdown-menu-large.show {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large>li {
        margin-bottom: 30px;
    }

    .dropdown-menu-large>li:last-child {
        margin-bottom: 0;
    }

    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}

@media screen and (min-width: 768px) {

    #alfa-topbar .container-fluid,
    #alfa-header .container-fluid {
        padding: 0 63px;
    }

    .modal-dialog {
        max-width: 645px;
    }
}

@media screen and (max-width: 1004px) {
    #alfa-header .navbar-collapse {
        background: #fff;
        border: 1px solid rgb(232, 232, 232);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }

    #alfa-header .navbar-collapse .navbar-nav {
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1004px) {
    .title-block {
        font-size: 3.1vw;
        line-height: 6vw;
    }

    .description-block {
        font-size: 2vw;
        line-height: 3.5vw;
    }

    .text,
    p {
        font-size: 1.5vw;
        line-height: 2.5vw;
    }

    .text-block {
        font-size: 2.5vw;
        line-height: 4.4vw;
    }

    .alfa-btn-red,
    .alfa-btn-gray,
    .alfa-btn-flat {
        font-size: 1.8vw;
    }

    .accordion-with-icon .card .card-header button {
        font-size: 2vw;
        line-height: 2.2vw;
    }

    .accordion-with-icon .card .card-body {
        font-size: 2vw;
        line-height: 2.2vw;
    }

    .alfa-other-block .block .title {
        line-height: 2vw;
        font-size: 1.75vw;
    }

    .alfa-other-block .block .title-big {
        line-height: 3vw;
        font-size: 2.75vw;
    }

    .alfa-other-block .block .text {
        font-size: 1.9vw;
        line-height: 1.9vw;
    }

    .alfa-modal .modal-title {
        font-size: 2.8vw;
        line-height: 2.8vw;
    }

    .alfa-form label {
        font-size: 1.75vw;
        line-height: 1.75vw;
    }

    .alfa-modal .city-list li a {
        font-size: 2.5vw;
        line-height: 5.5vw;
    }
}

@media (min-width: 1004px) {
    /*.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }
    
    #alfa-header .dropdown-menu {
        margin-top: -1px;
    }*/

    #alfa-header .dropdown-menu-large {
        margin-top: -20px;
    }

    .dropdown:hover>.dropdown-menu {
        display: flex;
    }
}

@media screen and (min-width: 1920px) {}

@media screen and (min-width: 1921px) and (max-width: 2880px) {
    .container-fluid {
        max-width: 2440px;
    }

    .alfa-btn-red,
    .alfa-btn-gray,
    .alfa-btn-flat {
        font-size: 1vw;
    }

    .title-block {
        font-size: 2.2vw;
    }
}

@media screen and (min-width: 2881px) and (max-width: 3840px) {
    .container-fluid {
        max-width: 3420px;
    }

    .alfa-btn-red,
    .alfa-btn-gray,
    .alfa-btn-flat {
        font-size: 1vw;
    }

    .title-block {
        font-size: 2.2vw;
    }

    .description-block {
        font-size: 1.1vw;
    }
}

@media screen and (max-width: 480px) {
    #alfa-header .navbar .navbar-brand {
        width: 100px;
        margin-right: -47px;
        flex-shrink: 0;
    }
    .navbar-toggler {
        font-size: 1rem;
    }
    #alfa-header .navbar {
        padding: 0;
        margin: 8px 0;
    }
}
/** MEDIA QUERIES **/

#alfa-topbar .alfa-city-checker a {
    margin-left: 0 !important;
}