.tl {
    text-align: center;
    margin-top: 138px;
    margin-bottom: 80px;
    color: #e72d2b;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.3;
}

@media (max-width: 1004px) {
    .tl {
        margin-top: 110px;
        margin-bottom: 60px;
    }
}

@media (max-width: 810px) {
    .tl {
        font-size: 24px;
        margin-bottom: 32px;
        margin-top: 48px;
    }
}

.tls {
    font-size: 28px;
    font-weight: 900;
    color: #495966;
}

@media (max-width: 1004px) {
    .tls {
        font-size: 20px;
    }
}

@media (max-width: 810px) {
    .tls {
        font-size: 17px;
    }
}

.tx {
    font-size: 18px;
    font-weight: 600;
    color: #495966;
}

.txs {
    font-size: 15px;
    font-weight: 500;
    color: #495966;
}

.ui-btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    font-size: 17px;
    padding: 18px 21px;
    /*height: 56px;*/
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    background: #E72D2B;
    box-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.3);
    border-radius: 8px;
    text-decoration: none;
    transition: .15s ease-in;
}

@media (max-width: 810px) {
    .ui-btn {
        width: 100%;
    }
}

.ui-btn:hover {
    color: #fff;
    background: #DE1E1C;
    text-decoration: none;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.td-u {
    text-decoration: underline;
}

.cg {
    color: #e72d2b !important;
}

.ma {
    margin: auto;
}

.fw-b {
    font-weight: 600;
}

.fw-m {
    font-weight: 500;
}

.fw-r {
    font-weight: 400;
}

.fw-l {
    font-weight: 300;
}

.no-bg {
    background: transparent;
}