/* collapse */
.collapsible-body {
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
}

.ui-collapse-head {
    position: relative;
    padding: 19px 56px 19px 15px;
    cursor: pointer;
    outline: none;
    width: 100%;
    text-align: left;
}

.ui-collapse-item {
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 26px;
    line-height: 18px;
}

@media (max-width: 810px) {
    .ui-collapse-item {
        margin-bottom: 16px;
    }
}

.ui-collapse-body {
    padding: 5px 14px 14px;
    line-height: 1.6;
}

.ui-collapse-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    right: 37px;
    margin: auto;
}

.ui-collapse-icon:before,
.ui-collapse-icon:after {
    background: #495966;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
    /* transform: rotate(0deg); */
}

.ui-collapse-icon:after {
    transform-origin: center;
}

.ui-collapse-head .ui-collapse-title {
    color: #e72d2b;
}

@media (max-width: 810px) {
    .ui-collapse-head .ui-collapse-title {
        line-height: 1.3;
    }
}

.ui-collapse-head.collapsed .ui-collapse-title {
    color: #495966;
}

.ui-collapse-head.collapsed .ui-collapse-icon:after {
    transform: rotate(90deg);
    background: #e72d2b !important;

}

.ui-collapse-head.collapsed .ui-collapse-icon:before {
    transform: rotate(180deg);
    background: #e72d2b !important;
}

/* end collapse */