html,
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-locale: auto;
}

body {
  font-size: 16px;
  -webkit-locale: auto;
  font-family: Montserrat, sans-serif;
  color: #333;
}

@media (max-width: 1004px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 810px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
}

.form-modal-close {
  margin-top: unset !important;
  top: 25px;
  right: 30px;
  position: absolute;
}

.container {
  width: 1088px;
  margin: auto;
  padding: 0 !important;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 1004px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 810px) {
  .container {
    width: 560px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 16px !important;
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 17px;
  }
}

.icon {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  width: 30px;
}

.icon svg,
.icon img {
  height: 100%;
  width: 100%;
}

.sprites {
  display: none;
}

.nav-extended {
  background: #e72d2b;
}

.init {
  margin: 94px auto 188px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1004px) {
  .init {
    margin: 49px auto;
  }
}

@media (max-width: 810px) {
  .init {
    margin: 30px auto;
  }
  .init-list-item {
    margin-bottom: 16px !important;
  }
}

@media (max-width: 480px) {
  .init {
    margin: 16px 0;
  }
  .init-btn {
    width: 100%;
  }
}

.init-title {
  margin-top: 9px;
  margin-bottom: 0;
  text-align: left;
}

.init-list {
  margin: 14px 0 34px;
}
@media (max-width: 480px) {
  .init-list {
    margin: 22px 0 34px;
  }
}
.init-list-item {
  padding-left: 30px;
  position: relative;
  margin-bottom: 3px;
}

.init-list-item::before {
  content: url('../img/check.svg');
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 0;
  color: #e72d2b;
}
.options-tabs-items {
  border-bottom: none !important;
}
/*
.init-list-item::before {
  content: '^';
  display: inline-block;
  font-size: 22px;
  position: absolute;
  left: 6px;
  color: #e72d2b;
  margin-right: 10px;
  transform: rotate(180deg) skew(-8deg, -25deg) scale(1.3, 0.8);
} */

.init-info .ui-btn {
  margin: unset;
}

.init-img {
  width: 39%;
}

.init-info {
  width: 49%;
}

/*.init-img {
  transform: translate(37px, -41px);
}*/

@media (max-width: 1004px) {
  .init-info,
  .init-img {
    width: auto;
  }

  .init-img {
    display: none;
  }

  .init-info .tls {
    width: 100%;
    max-width: 390px;
  }
}

.init-img img {
  width: 117.6%;
  transform: translateX(-4%);
  height: auto;
}

.form .btn {
  margin-top: 40px;
}

@media (max-width: 480px) {
  .form .btn {
    width: 100%;
  }
}
.form {
  padding: 12px;
}
.form-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #495966;
  margin-bottom: 8px;
}

form .form-control {
  border-color: #D9D9D9;
}

.form-input,
.date-picker-input {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: inset 0px 2px 3px 1px rgba(209, 222, 249, 0.5);
  border-radius: 5px;
  width: 100%;
}
.date-picker-input {
  height: auto;
}

.datepicker table .active.day span {
  background: transparent;
}

.datepicker {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-forked-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 24px 0;
}

.form-forked-items .form-item {
  width: 45%;
}

@media (max-width: 810px) {
  .form-forked-items {
    flex-direction: column;
  }

  .form-forked-items .form-item {
    width: auto;
  }
}

.form-description {
  font-weight: 500;
  font-size: 12px;
  color: #495966;
  margin-top: 8px;
}

.steam-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .steam-list {
    flex-direction: column;
  }
}

.steam-item {
  width: 28.6%;
}

@media (min-width: 1200px) {
  .steam-item:nth-child(2) { 
    margin-right: 8%;
  }
}

@media (max-width: 1004px) {
  .steam-item:nth-child(2) { 
    margin-right: 0%;
  }
}

/* @media (max-width: 1024px) {
  .steam-item {
    width: 48%;
    margin-bottom: 32px;
  }
} */

@media (max-width: 576px) {
  .steam-item {
    width: 100%;
  }

  .steam-item + .steam-item {
    margin-top: 32px;
  }

  .steam-item .tx {
    font-size: 15px;
  }
  .steam-item:last-of-type {
    margin-bottom: 0;
  }
}

.steam-item-img {
  height: 48px;
}
.option-tab-table {
  display: block;
  margin: auto;
  width: 866px;
}
.option-tab-table td {
  padding: 0;
}

/* .options-col-right-item {
  border-collapse: separate;
  border-spacing: 32px 16px;
} */


.options-col-right-item {
  display: block;
  width: 500px;
}

.option-tab-table tr:not(:first-child) + tr .options-col-right-item {
  margin-top: 32px;
}

.options-col-right-item tr {
  display: flex;
}

.options-col-right-item td {
  
}

.options-col-right-item td + td {
  display: block;
  margin-left: 32px;
}

.options-col-text.tx {
  font-weight: 600;
}

@media (max-width: 1004px) {
  .option-tab-table {
    width: 100%;
  }
  
  .options-col-right-item {
    width: auto;
  }

  .options-col-right-item td + td {
    margin-left: 20px;
  }

  .option-tab-table tr:not(:first-child) + tr .options-col-right-item {
    margin-top: 20px;
  }
}

@media (max-width: 1004px) {
  .options-col-right-item td + td {
    margin-left: 0;
  }

  .option-tab-table tr:not(:first-child) + tr .options-col-right-item {
    margin-top: 0;
  }
}

.steam-item-text {
  /* padding-right: 10%; */
}

.options-col-left-item {
  min-width: 240px;
  max-width: 360px;
  width: 360px;
  padding-right: 40px;
}
.steam-item-img img {
  height: 48px;
  width: 48px;
}

.steam-item-title {
  margin: 15px 0 16px;
  line-height: 1.43;
}
@media (max-width: 810px) {
  .steam-item-title {
    margin: 5px 0 7px;
  }
}

@media (max-width: 576px) {
  .steam-item-title {
    margin: 8px 0;
  }
}

.steam-title {
  text-align: center;
}

.obey {
  background: rgba(231, 45, 43, 0.05);
  padding: 72px 80px 70px;
  text-align: center;
  margin-top: 111px;
  border-radius: 32px;
}
.obey a {
  margin-top: 41px;
}

@media (max-width: 810px) {
  .obey {
    padding: 40px 16px;
  }

  .options .desktop-table {
    display: none;
  }
}

@media (max-width: 576px) {
  .obey {
    margin-top: 48px;
  }
}

.options .laptop-table {
  display: none;
}

@media (max-width: 810px) {
  .options .laptop-table {
    display: block;
  }
}

.options-title {
  text-align: center;
}

.options-tabs-items {
  display: flex;
  margin: auto;
  height: 56px;
  width: fit-content;
  padding: 4px;
  border-radius: 8px;
  background: rgba(231, 45, 43, 0.05);
  margin-bottom: 43px;
}

.options-tabs-item a.active {
  background: white;
  box-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.25);
}

.options-tabs-items a.active {
  color: #E72D2B;
}

.options-tabs-items a:hover {
  text-decoration: none;
}

.options-tabs-item a{
  line-height: 48px;
  height: 48px;
  width: inherit;
  border-radius: 8px;
  text-align: center;
  padding: 0 20px;
  font-size: 17px;
  font-weight: 600;
  color: rgba(231, 45, 43, 0.5);
  cursor: pointer;
}

.options-tabs-item.active {
  background: white;
  padding: 0 16px;
  color: #E72D2B;
}

.options-col-title {
  margin-bottom: 40px;
}

.options-item-final-decis,
.options-item-final {
  font-weight: 900;
}

@media (max-width: 1004px) {
  .options-col-left-item {
    padding-right: 50px;
  }
}

@media (max-width: 810px) {
  .options-col-left-item {
    padding-right: 30px;
  }
}

.options-col-right {
  font-weight: 600;
}

.options-col-right,
.options-item-right-final {
  width: 250px;
  line-height: 75px;
  text-align: center;
  background: #F7F7F7 !important;
  border-radius: 8px;
}
.options-col-right-final tr {
  margin-top: 32px;
  display: flex;
}

.options-td-final {
  vertical-align: bottom;
}

.options-col-right-final td + td {
  margin-left: 32px;
}

.options-item-right-final {
  height: 48px;
  line-height: 1.2;
}

@media (max-width: 1004px) {
  .options-col-right {
    line-height: 65px;
  }
  .options-col-right-final tr {
    margin-top: 20px;
  }

  .options-col-right-final td + td {
    margin-left: 20px;
  }

  .options-col-right,
  .options-item-right-final {
    width: 150px;
  }
}

@media (max-width: 810px) {
  .options-col-right,
  .options-item-right-final {
    width: 100px;
  }
}

@media (max-width: 576px) {
  .options-col-right-final tr {
    margin-top: 0;
  }

  .options-col-right-final td + td {
    margin-left: 0;
  }
}

.options-item-right-final {
  background: white !important;
  font-size: 18px;
  font-weight: 900;
  color: #e72d2b;
}

.options-item-final-decis {
  color: #A7A6A6;
}

.collapsible-table {
  background: #FFFFFF;
  box-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.25);
  border-radius: 8px;
}

.laptop-table-body .tx {
  margin-bottom: 8px;
}

.laptop-table-body .tls {
  margin-bottom: 16px;
}

.laptop-table-body .options-col-right {
  font-size: 15px;
  width: auto;
}

.laptop-body-item {
  margin-bottom: 16px;
  padding: 5px 0;
}

@media (max-width: 810px) {
  .laptop-body-item {
    padding: 0;
  }
  .laptop-body-item-title {
    margin: 13px 0 !important;
  }
  .options-col-right, .options-item-right-final {
    width: 120px;
    margin: 0 16px 0 0;
    line-height: 55px;
  }
  .laptop-body-item {
    margin-bottom: 35px;
  }
}

.laptop-decis {
  display: none;
}

@media (max-width: 576px) {
  .laptop-body-item-title {
    margin: 16px 0 !important;
  }

  .laptop-decis {
    display: block;
  }

  .options-item-final-decis {
    font-size: 17px;
    line-height: 1.41;
    margin-top: 24px;
  }
}
.laptop-body-item .tls {
  margin-bottom: 12px;
}
.laptop-body-item .tls:last-of-type {
  margin-bottom: 0;
}
.contact {
  display: flex;
  gap: 10%;
  position: relative;
  margin-bottom: 60px;
}

.contact-list {
  margin: 16px 0 32px;
}

.contact-list-item {
  padding-left: 15px;
}

.contact-list-item::before {
  content: '^';
  display: inline-block;
  color: #e72d2b;
  margin-right: 10px;
  font-size: 16px;
  transform: rotate(180deg) skew(-8deg, -25deg) scale(1.3, 0.8);
}

.contact-info{
  width: 54%;
}
.contact-info .contact-but{
  display: none;
}
.contact-img {
  width: 41%;
}

.contact-info .txs {
  line-height: 1.6;
}

.contact-info .br {
  display: block;
  height: 20px;
}

.contact-info a {
  font-weight: 600;
}

@media (max-width: 810px) {

  .contact-info,
  .contact-img {
    width: auto;
  }
  .contact-info .contact-but{
    display: block;
    margin-top: 48px;
  }
}

@media (max-width: 810px) {
  .contact-img {
    display: none;
  }
}

.contact-img img {
  width: 100%;
  height: auto;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #F7F7F7;
}

.nav-item:not(.header-drop-lang-head) {
  position: static;
}

.dropdown-menu-right,
.dropdown-menu-large {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto !important;
  width: 1440px;
  display: none;

  border-top: 3px solid #e72d2b !important;
  box-shadow: 0 5px 23px 5px rgba(0,0,0,.05);
  background-color: rgba(255,255,255,.95);
  border-radius: 0;
}

.dropdown-menu-right {
  width: auto;
  left: auto;
  right: auto;
}

@media (min-width: 1004px) {
  .dropdown-menu-right.show,
  .dropdown-menu-large.show {
    display: none;
  }
}

.dropdown-header {
  padding: 0;
  position: relative;
}

.dropdown-menu-right a,
.dropdown-menu-large a {
  color: #1c2b39;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 30px 15px;
  transition: .3s all ease;
  position: relative;
}

.dropdown-header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px !important;
}

.dropdown-header a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 30px;
  background-color: #73808a;
  width: 36px;
  height: 2px;
}

.dropdown-menu-large a:before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 1.5em;
  background: url(/img/arrow.svg) center;
  background-position: 50% 0;
  background-repeat: no-repeat;
  top: 5px;
  left: 30px;
  transform: translateX(-100%) rotate(-90deg);
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
  text-decoration: none;
}

.dropdown-menu-large a:hover {
  color: #e72d2b!important;
  padding-left: 45px;
  text-decoration: none;
}

.dropdown-header a:hover:before,
.dropdown-menu-large a:hover:before {
  transform: translateX(0) rotate(-90deg);
  opacity: 1;
  visibility: visible;
}

.navbar-header {
  display: none;
  flex-shrink: 0;
}

#alfa-header .navbar-light .navbar-nav .nav-link .lang-arrow {
  display: none;
}

#alfa-header .navbar-light .navbar-nav .nav-link:focus {
  outline: none;
}

@media (max-width: 1004px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 288px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    transition: transform 300ms;
    border-radius: none;
  }

  .navbar-collapse.collapsing {
    transform: translateX(-100%);
  }

  .navbar-collapse.collapse.show {
    transform: translateX(0%);
  }

  .navbar-header {
    width: 100%;
    display: flex;
    padding: 18px 16px;
    border-bottom: 1px solid #E4E1DD;
  }

  .navbar-header .logo {
    width: 91px;
    height: auto;
    margin-right: auto;
  }

  .navbar-nav {
    margin: 0 !important;
    padding: 10px 0;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
  }

  .navbar-nav li {
    width: 100%;
    padding: 0 16px;
  }
  /* background: #E4E1DD; */
  #alfa-header .navbar-light .navbar-nav .nav-link {
    padding: 24px 0;
    text-align: left;
    border-bottom: 1px solid #E4E1DD;
  }

  #alfa-header .navbar-light .navbar-nav .nav-link .lang-arrow {
    display: inline-block;
  }

  .dropdown-menu-right a,
  .dropdown-menu-large a {
    padding: 5px 0 10px;
    white-space: break-spaces;
  }

  .navbar-nav li .lang-arrow {
    transform: rotate(0deg);
  }

  .navbar-nav li.show .lang-arrow {
    transform: rotate(180deg);
  }

  .dropdown-header a:after {
    left: 0;
  }

  .dropdown-menu-large a:before {
    display: none;
  }

  .dropdown-menu-right, .dropdown-menu-large {
    width: 100%;
    box-shadow: none;
    border-top: none !important;
    padding: 10px 0 !important;
  }

  .dropdown-menu-right li, .dropdown-menu-large li {
    max-width: 100%;
    padding: 0;
    text-align: left;
  }

  .dropdown-menu-large .dropdown-header {
    padding: 3px 0 !important;
  }

  .navbar-nav .socials {
    display: flex;
    margin-top: auto;
    padding: 22px 16px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
  }

  .alfa-social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }

  .navbar-nav .socials span {
    width: 100%;
    display: block;
    margin-bottom: 8px;
  }
}