.date-picker .datepicker {
    border-top: 3px solid var(--main-color);
}

.date-picker .datepicker .datepicker-switch::before {
    background-color: var(--main-color);
}

form input[type="date"]:focus,
form input[type="text"]:focus,
form .date-picker input:hover {
    border-color: var(--main-color);
    transition: all 0.3s;
}

/* form .input-group .date {
    padding-bottom: 30px;
} */

form input.w-100 {
    width: 100%;
}
.datepicker,
.datepicker table {
    width: max-content;
}

form .date-picker input:focus,
form .date-picker input.dateisker-op-input {
    border-color: #00ae81;
    transition: all 0.3s;
}

form .form-control {
    margin-left: 0;
    background-color: transparent;
    border-color: #a1abb3;
}

form input.w-100 {
    width: 100%;
}

form .date-picker .input-group-addon {
    position: absolute;
    cursor: pointer;
    right: 5px;
    height: 28px;
    width: 29px;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    margin: auto;
}

form .date-picker input+.input-group-addon.datepicker-opened,
form .date-picker input:focus+.input-group-addon,
form .date-picker input+.input-group-addon:focus,
form .date-picker input+.input-group-addon:hover {
    fill: var(--main-color);
    transition: all 0.5s;
}
.datepicker {
    border-top: 3px solid var(--main-color);
}

.date-picker .date-picker-icon {
    display: block;
    height: 100%;
}
.date-picker:hover .date-picker-icon {
    display: none;
}
.date-picker .date-picker-icon.hover {
    display: none;
}
.date-picker:hover .date-picker-icon.hover {
    display: block;
}