/* this styles tabs is very specific need rewrite */

.options-tabs-items {
    display: flex;
    margin: auto;
    height: 56px;
    width: max-content;
    padding: 4px;
    border-radius: 8px;
    background: rgba(231, 45, 43, 0.05);
    margin-bottom: 32px;
}

.options-tabs-item a.active {
    background: white;
}

.options-tabs-items a.active {
    color: #E72D2B;
}


.options-tabs-item a {
    line-height: 48px;
    height: 48px;
    width: inherit;
    border-radius: 8px;
    text-align: center;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 600;
    color: rgba(231, 45, 43, 0.5);
    cursor: pointer;
}

.options-tabs-item.active {
    background: white;
    padding: 0 16px;
    color: #E72D2B;
}